<nav class="navbar navbar-expand-md navbar-light mb-4" style= "background-color: lightskyblue;">
    <div class="container-fluid">
        <a class="navbar-brand" style="color:white;" href="">BreezyBook</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="color:white">
                        <span class="oi oi-home" aria-hidden="true" ></span> Login
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Register" style="color:white">
                        <span class="oi oi-plus" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="BookMovie" style="color:white">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Book
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
