<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <div class="me-5 d-none d-lg-block" style="min-height: 50px; background-color:lightgrey; min-width:100%;">
      
    </div>
</footer>
